@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* VARIABLE DE TAMAÑOS, COLORES, ETC */
:root{
    --header-height: 3rem;

    --hue: 207;
    --sat: 89%;

    --first-color: hsl(var(--hue), var(--sat), 68%);
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #FFF;

    --body-font: "Poppins", sans-serif;

    --h1-font-size: 1.5rem;
    --normal-font-size: .94rem;
    --tiny-font-size: .625rem;

    --z-tooltip: 10;
    --z-fixed: 100;
}
* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

body {
  height: 100vh;
  background: url(assets/wave.svg);
  background-size: cover;
}

.content {
  background-color: #fff;
  width: 95%;
  min-width: 420px;
  padding: 30px 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.content h1 {
  font-size: 30px;
  text-align: center;
  color: #1f2223;
  margin-bottom: 20px;
}

.content p {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #1f2223;
  font-size: 14px;
  font-weight: 400;
}

.content form {
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}

.content .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px 30px;
  margin-bottom: 20px;
}

label {
  color: #252727;
  font-size: 14px;
}

textarea,
input,
select {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border: 1.2px solid #d1d6d6;
  margin-top: 5px;
}

textarea {
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
  border-color: #2493f5;
}

::-webkit-file-upload-button {
  background: var(--first-color);
  color: #fff;
  border-radius: 5px;
  border: 2px solid var(--first-color);
  padding: 5px 8px;
  transition: 0.3s ease;
  cursor: pointer;
}

::-webkit-file-upload-button:hover {
  background: #fff;
  color: #2493f5;
}

button {
  border: 2px solid var(--first-color);
  padding: 10px 20px;
  background:var(--first-color);
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-button:hover {
  color: #2c9ce2;
  background: #fff;
}

/* ADVERTENCIAS */

.warning {
  display: none;
}

.warning.active,
.warning.active p {
  display: block;
  color: crimson;
}

label.incorrect {
  color: crimson;
  font-weight: 600;
}

input.incorrect {
  border: 1px solid crimson;
}

textarea.incorrect {
    border: 1px solid crimson;
}